html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  background-color: #000000;
}
.container {
  /*width: 1440px; */
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}
.center {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
:root {
  --color-gold: #bdae82;
  --font1: 60px;
  --font2: 40px;
  --font3: 20px;
}
@mixin btn-gold {
  border: 0;
  background-color: var(--color-gold);
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font3);
  line-height: 40px;
  text-align: center;
  padding: 8px 73px 7px 73px;
}

.header {
  background: url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  height: 90px;
  .info-header {
    display: flex;
    align-items: center;
    .nav {
      margin-left: auto;
      .nav-list {
        display: flex;
        list-style: none;
        margin: 20px 0;
        .nav-item {
          .nav-link {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: var(--font3);
            line-height: 50px;
            color: #ffffff;
            text-decoration: none;
            margin-right: 30px;
            transition: 0.3s;
          }
          .nav-link:hover {
            color: var(--color-gold);
          }
        }
      }
    }
    .language {
      width: 70px;
      margin-left: 1px;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: var(--font3);
      line-height: 50px;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      span {
        color: var(--color-gold);
      }
    }
  }
}

.main {
  .hero {
    background-image: url("../assets/img/bg.jpg");
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 820px;
    .content-hero {
      width: 500px;
      height: 330px;
      padding-top: 160px;
      padding-left: 80px;
      .photographer {
        font-family: "Merriweather", serif;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 120px;
        color: #ffffff;
        margin: 0;
      }
      .text-hero {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
        color: #ffffff;
        margin: 10px 30px 25px 0;
      }
      .btn-hero {
        @include btn-gold;
        transition: 0.3s;
      }
      .btn-hero:hover {
        color: #ffffff;
      }
    }
  }
}
